* {
    background-color: bisque;
    max-width: 300px;
    margin: auto;
}
h1 {
    padding-left: 4ex;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
}
li {
    display: inline;
    float: left;
}
li a {
    text-decoration: none;
    color: black;
    padding: 11px 12px;
    text-align: center;
}
.navi {
    margin-top: 5px;
    padding-bottom: 20px;
}
.navi a {
    text-align: center;
}